/* .sign-in-button {
    color: white;
    height: 40px;
    min-width: 100px;
    background-color: rgba(24, 24, 24, 0);
    border-color: rgb(170, 170, 170);
}

.sign-up-button{
    background-color: rgba(24, 24, 24, 0);
    border-color: rgb(170,170,170);
    color: white;
    height: 40px;
    min-width: 100px;

} */
button{
    background-color: rgba(24, 24, 24, 0);
    border-color: rgb(214, 214, 214);
    border-width: 2px;
    color: white;
    height: 40px;
    min-width: 100px;
    transition-duration: 0.4s;

}

button:hover{
    color: black;
    background-color: white;
}

.sign-in-container{
    height: 40vh;
    width: 100vw;
    margin: 0;
    /* background-color: blue; */
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}

.register-container {
    justify-content: center;
    display: flex;
    color: white;
    z-index: 10;
}

.sat-trac {
    height: 30vh;
    justify-content: center;
    z-index: 10;
    color: rgb(214,214,214);
    display: flex;
    font-size: 5em
}

.bottom-half {
    height: 50vh;
    /* background-color: rgb(24, 24, 24); */
}


